/* $tablet:768px;
$phone:480px; 
$laptop:1024px; */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

*{
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: rgb(243, 255, 243);
}
#header1>a{
    border-radius: 6px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(130, 176, 208);
    text-decoration: none;
}
#header1{
    text-align: center;
    /* background-image: url(images/pexels-bgm.jpg);
    border-radius: 10px; */
    padding-bottom: 5px;
}
table{
    width: 700px;
}
th{
    text-align: left;
}
table, th, td{
    border: 2px solid rgb(244, 182, 157);
    border-collapse: collapse;
    padding: 5px;
}
/* tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(odd){
    background-color: rgb(239, 239, 239);
} */
#education{
    float: left;
    width: 65%;
}
#skills{
    /* font-family:; */
    float: left;
    width: 35%;
}
footer{
    text-align: center;
    float: center;
}


#experience{
    /* border: 1px solid #000; */
    float: left;
    width: 50%;
    padding: 1%;
    padding-bottom: 0%;
    text-align: justify;
    
}
/* #experience:hover{
  width: 55%;
  border-style: groove;
  padding: 0.66%;
  border-radius: 5px 5px 5px 5px;
  border-color: #E1306C;
  transition-duration: 250ms;
} */

#projects{
    /* border: 1px solid #000; */
    
    width: 45%;
    float: left;
    padding: 1%;
    text-align:justify;
    border-left: 3px solid #3097e1;
    box-sizing: border-box #333;
}
/* #projects:hover{
  width: 40%;
  border-style: groove;
  padding: 0.6%;
  border-radius: 5px 5px 5px 5px;
  border-color: #E1306C;
  transition-duration: 250ms;
} */
.backToHome{
  text-align: right;
  padding: 1%;
}
.backToHome a:hover{
  text-decoration: none;
  color: #673de6;
}
/* div>h4{
    font-weight:bolder;
    font-size: 17px;
    color: #E1306C;
} */
 .pro_exp{
    font-weight:bolder;
    font-size: 30px;
    /* color: #E1306C; */
    color: #5030e1;
  } 

#contact_body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    place-items: center;
    
}

#contact_border{
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border:none;



  background-image: url('contact_pic.jpg') ;
    /* background-color: rgb(243, 255, 243); */
    width: 100%;
    height: 100vh;
    background-size: 100% 155vh;
    position: relative;
    background-repeat: no-repeat;
}
header{
  position: absolute;
  text-align: center;
  width: 75%;
  left: 12%;
  top: 2rem;
}
.empty{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

.content{
  display: flex;
  min-height: 110vh;
}
.content section{
  margin-top: 8vh;
  margin-left: 20vh;
}
.content-form{
  margin-top: 7rem;
}
section i{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,0.8);
  color: black;
  text-align: center;
}
.form{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.form .contact-form input{
  width: 30rem;
  background-color: transparent;
  border: 0px;
  border: transparent;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}
.form .contact-form input ~ span{
  position: absolute;
  left: 20px;
  transition: 0.9s ease-in-out;
  margin-top: 10px;
}
.form .contact-form input:focus ~span{
  transform: translateY(-20px);
  pointer-events: none;
}
.form .contact-form textarea{
  width: 30rem;
  border: 0px;
  background-color: transparent;
  margin: 20px;
  font-size: 17px;
  border-bottom: 2px solid white;
}
.form .contact-form textarea ~ span
{
  position: absolute;
  left: 20px;
  margin-top: 10px;
  transition: 0.9s ease-in-out;
}
.form .contact-form textarea:focus ~span{
  transform: translateY(-20px);
  pointer-events: none;
}
.form .contact-form input[type=submit]{
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 18px;
  width: 50%;
  height: 40px;
  margin-top: -5px;
}
.form .contact-form input[type=submit]:hover{
  background-color: transparent;
  color: dodgerblue;
}
.media{
  position: absolute;
  top: 85vh;
  right: 20vh;
  display: flex;
  list-style: none;
}
.media li{
  margin: 20px 30px;
}
@media screen and (max-width: 900px){
  body{
      background-repeat: repeat-y;
      overflow: auto;
  }
  header{
      position: absolute;
      left: 0;
      top: 20%;
      width: 100%;
  }
  .empty{
      height: 210vh;
  }
  .form{
      position: absolute;
      top: 100vh;
      margin-left: 10%;
  }
  .content-form{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;
      margin-top: 53vh;
      margin-left: 10vh;
  }
  .content section{
      margin-top: 0vh;
      margin-left: 0vh;
  }
  .media{
      position: absolute;
      top: 190vh;
      right: 30px;
  }
}
  /* #contact_border{
    margin-top: 2%;
    border-radius: 5px;
    border-style: groove;
    padding: 2%;
  } */
  #foot{
    margin-top: 3%;

  }
    

@media screen and (max-width:1024px) {
  #skills{
    float: left;
    width: 40%;
    padding: 0%;
    margin: 0px;
  }
  #education{
    float: left;
    width: 60%;
    padding: 0%;
    margin: 0px;
  }
  table{
    width: 600px;
    height: 200px;
    font-size: 13px;
  }
  #experience{
    float: left;
    width: 56%;
    padding: 1%;
    padding-bottom: 0%;
    text-align: center;
    font-size: 15.7px;
  }
  #projects{
    /* border: 1px solid #000; */
    
    width: 40%;
    float: left;
    padding: 1%;
    text-align: center;
    
    }
}

@media screen and (max-width:768px){

  #header1{
    text-align:center;
    font-size: 28px;
    background-image: url(images/pexels-bgm.jpg);
    border-radius: 10px;
    padding-bottom: 5px;
  }
  #header1 h5{
    margin-top: -25px;
    margin-bottom: 50px;
  }

  #header1>a{
    border-radius: 6px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    /* background-color: #E1306C; */
    background-color: #5030e1;
    
    text-decoration: none;
  }
  table{
    width: 720px;
    height: 300px;
    margin: 14px;
    font-size: 17px;
  }
  th{
    text-align: left;
  }
  table, th, td{
    border: 2px solid rgb(157, 162, 244);
    border-collapse: collapse;
    padding: 5px;
  }
  tr:nth-child(even){
    background-color: #fff;
  }
  tr:nth-child(odd){
    background-color: rgb(239, 239, 239);
  }
  #education{
    float: left;
    width: 100%;
  }

  #skills{
    /* font-family:; */
    border-radius: 3px solid;
    border-style: groove;
    font-size: 20px;
    margin-top: 3px;
    float: left;
    width: 100%;
  }
  /* #skills a{
  text-decoration: none;
  color: blue;
  margin-top: 0px;
  } */
  footer{
    text-align: center;
    float: center;
    font-size: 22px;
  }

  #experience{
    /* border: 1px solid #000; */
    float: left;
    width: 97%;
    margin-top: 10px;
    /* padding: 3px; */
    margin-bottom: 10px;
    text-align: justify;
    font-size: 20px;
  }

  #projects{
    /* border: 1px solid #000; */
    
    width: 97%;
    float: left;
    /* padding: 1%; */
    text-align: justify;
    font-size: 20px;
    
  }
  .backToHome{
    font-size: 20px;
    text-align: right;
    padding: 1%;
  }
  .backToHome a:hover{
    text-decoration: none;
    color: #673de6;
  }
  /* #contact_border{
    margin-top: 2%;
    border-radius: 0%;
    border-style:none;
    padding: 2px;
  } */
}

@media screen and (max-width:480px){

  #header1{
    width: 100%;
    text-align: center;
    max-width: 100%;
    max-height: 100px;

    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 2%;
    font-size: 20px;
}
#header1 h5{
    margin-top: -25px;
    /* margin-top: 150px; */
    margin-bottom: 50px;
    font-size: 12.2px;
    text-align: right;
}

#header1>a{
  display: block;
  border-radius: 10px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  background-color: #3094e1;
  
  text-decoration: none;
}
div>#a1{
    margin-bottom: -3.5%;
}
div>#a2{
    margin-bottom: -3.5%;
}
div>#a3{
    margin-bottom: -3.5%;
}

table{
  margin-top: 30px;
  width:98%;
  
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 1%;
}
th{
  text-align: left;
}
table, th, td{
  border: 1px solid rgb(157, 162, 244);
  border-collapse:collapse;
  padding: 0px;
}
/* tr:nth-child(even){
  background-color: #fff;
}
tr:nth-child(odd){
  background-color: rgb(239, 239, 239);
} */
#education{
  float: left;
  width: 100%;
}
#education h4{
  margin-top: 270px;
}
#skills{
  /* font-family:; */
  align-items: center;
  float: left;
  width: 100%;
}
footer{
  text-align: center;
  float: center;
}

#experience{
  /* border: 1px solid #000; */

  float: left;
  width: 97%;
  margin-top: 265px;
  /* padding: 3px; */
  margin-bottom: 10px;
  text-align: justify;
  font-size: 22px;
}

#projects{
  /* border: 1px solid #000; */
  width: 97%;
  float: left;
  /* padding: 1%; */
  text-align: justify;
  font-size: 22px;
  margin-bottom: 5%;
  border-left: 0px;
}
.backToHome{
  padding-top: 5%;
  font-size: 20px;
  text-align: right;
  /* padding: 1%; */
}
.backToHome a:hover{
  text-decoration: none;
  color: #673de6;
}
#contact_body>#header1{
  width: 100%;
  text-align: center;
  /* background-image: url(images/pexels-bgm.jpg); */
  max-width: 100%;
  max-height: 100px;

  border-radius: 10px;
  padding-bottom: 5px;
  margin-bottom: 52%;
  font-size: 20px;
}
#contact_body>#header1>a{
  display: block;
  border-radius: 10px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  /* background-color: rgb(196, 136, 208); */
  background-color: #3094e1;
  text-decoration: none;
}
div>#a1{
    margin-bottom: -3.5%;
}
div>#a2{
    margin-bottom: -3.5%;
}
div>#a3{
    margin-bottom: -3.5%;
}

body{
  background-repeat:repeat-y;
  overflow:auto;
}
header{
  position: absolute;
  left: 0;
  top: 2%;
  width: 100%;
  height: 100%;
}
.empty{
  height: 160vh;
}
.form{
  position: static;
  top: 100%;
  margin-left: 3%;
  margin-top: -93vh;
}
.content-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  margin-top: 26vh;
  margin-left: 10vh;
}
.content section{
  margin-top: 0vh;
  margin-left: 0vh;
  margin-bottom: -150vh;
 
}
.media{
  position: absolute;
  top: 90vh;
  right: 30px;
  left: 100px;
}
/* #contact_border{
margin-top: 2%;
border-radius: 5px;
border-style:none;
padding: 2%;
margin-bottom: 0%;
} */
#foot{
margin-top: 100%;

margin-bottom: 0px;
}

}
